@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  max-height: 320px;
  min-height: 300px;
  height: auto;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

img:hover {
  transform: scale(102%);
}
